# gitignore for Olive Chinos
!.gitignore
node_modules/
.bash_history
.bash_logout
.bashrc
.cache/
.lesshst
.npm/
.profile
*.pyc
.ssh/
.gitconfig
.sudo_as_admin_successful
.viminfo
dist/
npm-debug.log
mycrt/mycrtenv/
config.ini
cli.egg-info/
