#captureTitle {
    width: 70%;
    display: inline;
    float: left;
}

#newCaptureBtnContainer {
    float: right;
    margin-right: 25px;
    margin-top: 15px;
}

#newCaptureBtn {
    padding: 10px 15px;
}

#captureBody {
    margin-top: 75px;
}

.flatpickr-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }

#captureStartTimeContainer {
    padding-right: 150px;
}

.btn {
    border-color: #ccc !important;
}

.toggleButton {
    border: 1px solid #ccc !important;
}

.dbInfoFormCol {
    padding-left: 0px;
    padding-bottom: 15px;

}
