.captureListGroup {
    display: inline-block;
    width:30%;
}

.captureListHeader {
    text-align: center;
    border-bottom: 3px solid #ccc;
}

.captureListContainer {
    height: 500px; 
    overflow-y: scroll;
    border: 1px #ccc;
    border-radius: 5px;

}

#scheduledCaptureList {
    margin-left: 10px;
    margin-right: 10px;
}

.tempText {
    color: rgb(116, 116, 116);
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#toggle {
    border: 1px solid #ccc !important;
}

.buttonToolbar {
    margin: 0 auto;
    width: 500px;
    padding-right: 5vw;
    padding-left: 5vw;
}

.refreshCaptureButton {
    padding: 5px;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    background-color: none;
}

