#metricSelector {
    border: 1px solid black;
    overflow-y: scroll;
    height: 25vh;
    /* position: absolute; */
}

.row {
    margin-right: 0;
    margin-left: 0;
    /* border: 1px solid black; */
}

.btn {
    border: 1px solid black;
    padding: 20px 20px;
}

.thead-dark {
    background: #000;
    color: #fff;
}

.col-xs-6 {
    padding-right: 0;
    padding-left: 0;
}

#captureOption:hover {
    background-color: "#ADD8E6";
    cursor: pointer;
}

.btn-custom {
    margin-right:20px;
    background-color: #fff;
    border-color: #000;
    color: #333333;
    padding: 0;
    height: 20px;
    /* width:20px; */
  }
  .btn-custom:hover {
  background-color: #e5e5e5;
    border-color: #000;
    color: #333333;
      }