#headerLeft {
    display: inline;
    float: left;
    width: 35%;
}

/*#headerRight {
    display: inline;
    float: right;
    width: 25%;
}
*/

.headerContainer {
    position:relative;
    width:100%;
    min-width:315px;
    height: 100px;
    background-color: #2e3546;  
    color: white;  
    z-index: 1000;
}
#headerLeft{
    padding: 10px;
    position:absolute;
    top:0px;
    left:0px;
    height:100px;
}

#headerLeft > div >  h4 {
    margin-top: 0px;
}
#headerCenter{
    padding: 10px;
    height:100px;
    width: 30%;
    margin:0px auto;
    text-align: center;
    padding-top: 30px;
}

#headerCenter > h1 {
    margin-top: 0px;
    vertical-align: middle;
}
#headerRight {
    padding: 10px;
    position:absolute;
    top:0px;
    right:0px;
    height:100px;
    width:35%;
}

.progressBarContainer {
    padding-top: 10px;
}

.progressButton {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

button:focus {outline:0;}

#captureProgress {
    display: inline-block;
    float: left;
    width: 150px;
    height: 50px
}
      
#replayProgress {
    width: 150px;
    height: 50px;
    display: inline-block;
    margin-left: 15px;
}

#userContainer {
    float:right;
    padding: 15px;
    padding-top: 30px;
}

#issueContainer {
    float: right;
    padding: 15px;
    padding-top: 30px;
}

.issueButton:hover {
    background: darksalmon;
}

.issueButton:focus {
    outline:0;
}

/*#userLogoContainer {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid rgb(216, 211, 211);
}*/

#userLogo {
    font-size: 30px;
}

button.btn {
    padding: 5px 10px !important;
}